body{
font-family:Arial;
background:#f4f4f4;
margin:0;
}

header{
background:#111;
color:white;
padding:20px;
text-align:center;
}

.card{
background:white;
margin:20px;
padding:20px;
border-radius:12px;
}

.price{
font-size:30px;
font-weight:bold;
color:red;
}